<div class="container col-lg-12">
  <div class="photo-container">
    a
    <i class="fa fa-backward"></i>
  </div>
</div>


<div class="second col-lg-12">
  <div class="panel-container ">
    <table class="button-table">
      <tr>
        <td class="td-buttons">

          <button class="btn btn-success navigator">
            <span class="glyphicon glyphicon-chevron-left"></span> Anterior </button>

        </td>
        <td class="td-buttons">

          <button class="btn btn-success navigator"> <span class="glyphicon glyphicon-camera"> </span> Galeria </button>

        </td>
        <td class="td-buttons">

          <button class="btn btn-success navigator">
           Siguiente <span class="glyphicon glyphicon-chevron-right"></span></button>


        </td>
      </tr>
    </table>




  </div>

</div>